<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599664444678-1c8k4m0r4dge323v3iegqm03k884ahrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599664444678-1c8k4m0r4dge323v3iegqm03k884ahrv</string>
	<key>API_KEY</key>
	<string>AIzaSyDYL7up40LAqhuzFCBgLz7m5cm6wrKbkwg</string>
	<key>GCM_SENDER_ID</key>
	<string>599664444678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryApp</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-61495</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-61495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599664444678:ios:a8b0bda3958a8a8d8c8a87</string>
</dict>
</plist>